.navteste{
    background-color: #B3D6F0;
    padding: 15px;

}

body{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pesquisar{
    padding-left: 1400px;
}

.img{
    margin-left: 15%;
}

.titulo{
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
}

.sub5, .sub7{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.sub1, .sub2, .sub3{
    font-family: sans-serif;
}

.a, .b, .c, .d, .j{
    font-family: sans-serif;
}